* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


@import "tailwindcss";

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}